{% extends 'base.html' %}

{% block content %}

  
  
  <h2 class="mb-3">Courses</h2>
  
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Course</th>
          <th>Professor</th>
          <th>Classes Held</th>
          <th>Classes Attended</th>
          
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td class="align-middle"><a href="www"> {{course.Name }}</a></td>
            <td class="align-middle"><a href="www"> {{course.Professor.Name }}</a></td>
            <td class="align-middle"><a href="www"> {{course.Name }}</a></td>
            
            
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't enrolled in any Courses yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
