{% extends 'base.html' %}

{% block content %}
{% include 'admin/header.html' with active='Courses' %}
  
  
  <h2 class="mb-3">Courses</h2>
  <a href="{% url 'admin_course_add'%}" class="btn btn-primary mb-3" role="button">Add Course</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Course</th>
          <th>Professor</th>
          
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td class="align-middle"><a href="{% url 'admin_course_update' course.pk %}"> {{course.Name }}</a></td>
            <td class="align-middle"><a href="www"> {{course.Professor.Name }}</a></td>
            
            
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any Courses yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
