{% extends 'base.html' %}

{% block content %}
{% include 'admin/header.html' with active='Professors' %}
  
  
  <h2 class="mb-3">Professors</h2>
  
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Professor</th>
          <th>Email</th>
          
        </tr>
      </thead>
      <tbody>
        {% for professor in professors %}
          <tr>
            <td class="align-middle"><a href="{% url 'admin_professor_update' professor.pk %}"> {{professor.Name }}</a></td>
            <td class="align-middle"><a href=""> {{professor.Email }}</a></td>
            
            
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any Professors yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
